body {
    background-color: #E2D2F9;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#main-contents {
    float: right;
    width: 76%;
    margin: 10px 1%;
}

/* styles for the header */
header {
    width: 92%;
    height: 100px;
    background-color: #1c1d21;
    padding: 10px 4%;
}

header img {
    position: absolute;
    left: 4%;
    top: 10px;
    padding: 4px;
    border-radius: 4px;
    height: 72px;
}

header .content {
    display: inline-block;
    width: 40%;
}

header .content p {
    padding-left: 100px;
    display: inline-block;
    padding-right: 5%;
    color: white;
    font-size: 2rem;
}

header .links {
    display: inline-block;
    width: 40%;
}

header .links a {
    text-decoration: none;
    padding: 6px 10px;
    margin: 4px 10px;
    display: inline-block;
    width: 80px;
    color: mintcream;
    background-color: rgb(45, 45, 45);
    border-radius: 8px;
    text-align: center;

}

header .links a:hover {
    color: rgb(152, 152, 152);
}

header .links a:active {
    color: rgb(199, 199, 199);
}

header .profile {
    position: absolute;
    top: 30px;
    right: 5%;
    display: inline-block;
    width: 10%;
}

header .profile p {
    padding: 10px 15px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}