
.main-contents {
    float: right;
    width: 78%;
    margin: auto;
}

.profile {
    width: 20%;
    margin-left: 75%;
}

.welcome-banner {
    height: 120px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #B290E9, #915FE1, #915FE1);
    padding: 15px;
    position: relative;
}

p.welcome-message {
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 30px;
}

p.date-time {
    font-family: sans-serif;
    color: rgb(227, 223, 223);
    padding-left: 15px;
}

.welcome-banner img {
    height: 120px;
    position: absolute;
    right: 50px;
    top: 15px;
}