
.main-contents {
    float: right;
    width: 78%;
    margin: auto;
}

.profile {
    width: 20%;
    margin-left: 75%;
}

.welcome-banner {
    height: 120px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #B290E9, #915FE1, #915FE1);
    padding: 15px;
    position: relative;
}

p.welcome-message {
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 30px;
}

p.date-time {
    font-family: sans-serif;
    color: rgb(227, 223, 223);
    padding-left: 15px;
}

.welcome-banner img {
    height: 120px;
    position: absolute;
    right: 50px;
    top: 15px;
}

.current-courses {
    float: left;
    width: 75%;
    padding: 15px 0;
}

.previous-courses {
    float: right;
    background-color: yellow;
    padding: 15px 4% 15px 0;
    width: 21%;
}

.current-courses p {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.course-item {
    display: inline-block;
    width: 43%;
    padding: 12px 4% 12px 0;
    margin: 12px 2% 12px 0;
    height: 40px;
    background-color: antiquewhite;
}
