.side-nav {
    height: 76vh;
    width: 15%;
    padding: 4vh 20px;
    float: left;
    background-image: linear-gradient(to bottom, #B290E9, #915FE1, #915FE1, #915FE1);
    border-radius: 16px;
    text-align: left;
}

.side-nav img {
    display: block;
    width: 40%;
    background-color: #915FE1;
    padding: 10px;
    margin: 0 auto 4vh;
    border-radius: 12px;
    clear: both;
}

.nav-item {
    display: block;
    padding: 1.5vh 0;
}

.nav-item a {
    text-decoration: none;
    color: rgb(227, 223, 223);
}
