.side-nav {
    height: 84vh;
    width: 15%;
    background-image: linear-gradient(to bottom, #B290E9, #915FE1);
    border-radius: 16px;
    text-align: center;
}

.container {
    background-color: white;
    padding: 4vh 30px;
    border-radius: 16px;
    box-shadow: 0 0 30px -5px black;
}
