
.welcome-banner {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.welcome-banner .date-time {
    font-size: 14px;
    color: #b0b0b0; /* Grey text */
    margin: 0;
}

.welcome-banner .welcome-message {
    margin: 10px 0 0;
    font-size: 24px;
    color: #e0e0e0;
}

.welcome-banner img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.profile-info img {
    background-color: #333333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.profile-info .header .title {
    font-size: 18px;
    margin: 0 0 5px;
    color: #e0e0e0;
}

.profile-info .header .subtitle {
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.profile-info p {
    margin: 5px 0;
}

.profile-info p .title {
    font-weight: bold;
    color: #a0a0a0;
}

.profile-info p .info {
    color: #e0e0e0;
}
