
#semester-selectors {
    padding: 20px;
    margin: 20px;
    background-color: #34495e;
    border-radius: 5px;
}

.selector {
    width: 45%;
    background-color: #34495e;
    color: #ecf0f1;
    border: 1px solid #226659;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.selector:disabled {
    color: grey;
}

.btn {
    background-color: #1abc9c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-top: 40px;
    display: block;
}

.btn:hover {
    background-color: #16a085;
}

#registering-courses > p {
    background-color: #34495e;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1abc9c;
}

tr:nth-child(even) {
    background-color: #3d5467;
}

#fetch-courses-button {
    display: none;
}