
#semester-selectors {
    width: 90%;
    margin: 10px 4%;  
    position: relative; 
}

.selector {
    width: 40%;
    margin: 40px auto 40px 0;
    padding: 10px 2%;
    border-radius: 12px;
    border: none;
}

.left {
    margin-left: 5%;
}

.right {
    position: absolute;
    right: 5%;
}

.divider {
    display: inline-block;
    width: 19%;
}

#registering-courses {
    width: 90%;
    margin: 20px 4% 0;
    text-align: center;
}

#registering-courses table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px -3px black;
    padding: 10px;
}

#registering-courses table thead {
    font-weight: bold;
    background-color: #F9F9F9;
    color: #915FE1;
}

#registering-courses table tr {
    border: solid 1px rgb(199, 199, 199);
}

#registering-courses td {
    padding: 10px 2%;
}

.btn {
    width: 20%;
    margin: 50px auto 0;
    height: 30px;
    background-color: #915fe1;
    color: white;
    border: none;
    border-radius: 5px;
}
  
.btn:hover {
    background-color: rgb(126, 74, 210);
}

.btn:active {
    color: rgb(184, 184, 184);
}

#fetch-courses-button {
    display: none;
}
