body {
    background-image: linear-gradient(to bottom right, #B290E9, #915FE1, #915FE1);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.selectors {
    text-align: center;
    width: 20%;
    padding: 25vh 5px 0;
    float: left;
    position: fixed;
}

.selectors select {
    margin: 5vh 0 0;
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
}

.selectors input {
    margin: 5vh 0 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.students {
    margin: 30px 2% 30px 22%;
    padding: 10px;
    width: 25%;
}

.students .message {
    margin-top: 35vh;
}

.student {
    background-color: #B290E9;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 0 6px 12px;
    position: relative;
}

.student:hover {
    background-color: #c0a7e8;
}

.student:active {
    background-color: #B290E9;
}

.student .name {
    color: #504e50;
    font-size: 1.4rem;
    margin: 3px;
}

.student .id {
    font-size: 0.7rem;
    margin: 3px;
}

.student .goto {
    position: absolute;
    color: #6d6b6d;
    top: 5px;
    right: 15px;
}