
.results {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
}

.results table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.results table th, .results table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2e2e2e;
}

.results table th {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.results table td {
    background-color: #34495e;
}

.results table tr:hover td {
    background-color: #3c4a56;
}

.results .footer {
    background-color: #2e2e2e;
    font-weight: bold;
}

.results .footer td {
    border-bottom: none;
}

.no-completed-courses {
    background-color: #34495e;
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.results table th.code, .results table td.code {
    width: 15%;
}

.results table th.title, .results table td.title {
    width: 40%;
}

.results table th.credit, .results table td.credit,
.results table th.grade, .results table td.grade,
.results table th.point, .results table td.point {
    width: 15%;
}
