
#main-contents {
    float: right;
    width: 78%;
    margin: auto;
}

.current-courses {
    float: left;
    width: 69%;
    background-color: #FCFCFC;
    margin: 30px 0;
    padding: 1vh 3%;
    border-radius: 16px;
    box-shadow: 0 0 30px -5px black;
}

.previous-courses {
    float: right;
    background-color: rgb(255, 255, 255);
    padding: 15px 1%;
    margin: 30px 0 30px 2%;
    border-radius: 16px;
    width: 21%;
}

.section-header {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.course-item {
    display: inline-block;
    position: relative;
    width: 90%;
    padding: 12px 2%;
    margin: 12px 1% 12px 1%;
    background-color: #DFCFF6;
    border-radius: 12px;
}

.course-item > div {
    display: inline-block;
    width: 60%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.course-name {
    color: #915FE1;
    font-family: sans-serif;
    font-weight: bold; 
    font-size: 1.3rem;
}

.credit {
    color: #5f5668; 
}

.course-item > img {
    width: 100px;
    position: relative;
    left: 65%;

}

.previous-course-item {
    width: 80%;
    background-color: #DFCFF6;
    border-radius: 12px;
    padding: 6px 12px;
}

.course-name span {
    display: inline-block;
    width: 40%;
    margin: 5%;
}